my_kafka/.env
data/producer.log
airflow/logs/
data/
airflow/plugins/
airflow/config/
airflow/data/
utils/preprocessing.ipynb
Base_dockercompose.txt
Base_dockerfile.txt

#Pycache folders

**/__pycache__/